.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form__field {
  display: block;
  justify-content: center;
  align-items: center;
}

.form__input {
  // display: flex;
  height: 50px;
  width: 450px;
  padding: 15px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);

  border: 1px solid rgba(255, 255, 255, 0.3);

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  @include mq(desk) {
    width: 358px;
  }
  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}
