.reason-list {
  @extend %list;
  @extend %card-set;
}
.reason-list__item {
  @include mq(tab) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @include mq(desk) {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.reason-list__overlay {
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  background-color: var(--accent-color-btn);
  border-radius: 4px;
}

.reason-list__title {
  @include text(false, 14px, 1.14, 0.03em, center, uppercase);

  color: var(--secondary-title-color);
  margin-bottom: 10px;
  @include mq(tab) {
    text-align: left;
  }
}

.reason-list__description {
  line-height: 1.71;
  color: var(--main-text-color);
}
