.section {
  padding-top: 60px;
  padding-bottom: 60px;
  &--bgcolor {
    background-color: var(--accent-color-btn);
  }
  @include mq(desk) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  @include text(false, 28px, 1.17, false, center, false);
  margin-bottom: 30px;
  @include mq(desk) {
    @include text(false, 36px, 1.17, false, center, false);
    margin-bottom: 50px;
  }

  color: var(--secondary-title-color);
}
