.socials {
  @extend %list;

  display: flex;
  gap: 10px;
}

.socials__link {
  @extend %link;

  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--transition);
  &:hover,
  :focus {
    background-color: var(--accent-color);
  }
  &--dark {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.socials__icon {
  fill: #afb1b8;
  transition: fill var(--transition);
  .socials__link:hover &,
  .socials__link:focus & {
    fill: #ffffff;
  }
}

.socials__footer {
  fill: var(--main-title-color);
  transition: fill var(--transition);
}
