.team-list {
  @extend %list;
  @extend %card-set;
}
.team-list__item {
  background: var(--main-title-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @include mq(tab) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @include mq(desk) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team-list__wrap {
  padding: 30px 122px 24px;
  text-align: center;
  @include mq(tab) {
    padding: 30px 74px 24px;
  }
  @include mq(desk) {
    padding: 30px 32px;
  }
}

.team-list__member {
  @include text(500, 16px, 1.19, false, center, false);
  margin-bottom: 10px;
}

.team-list__description {
  @include text(false, 16px, 1.19, false, center, false);
  margin-bottom: 16px;
  color: var(--main-text-color);
}
