button {
  cursor: pointer;
  border: 1px solid transparent;
}
.btn {
  @include text(700, 16px, 1.87, 0.06em, center, false);

  padding: 10px 32px;
  font-family: 'Roboto';
  color: #ffffff;
  background-color: #2196f3;

  border-radius: 4px;
  &.btn__form {
    display: inline-flex;
    gap: 10px;
    padding: 10px 28px;
    border: none;
  }
}
.btn-porfolio {
  @include text(500, 16px, 1.62, false, center, false);

  padding: 6px 22px;
  font-family: 'Roboto';
  color: #212121;
  background-color: var(--accent-color-btn);
  border-radius: 4px;
  &:hover,
  :focus {
    color: var(--main-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &.current {
    color: var(--main-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;

  outline: none;
  background-color: unset;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--transition);
  &:focus,
  :hover {
    fill: var(--accent-color);
  }
}

.modal-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
