.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 450px;
  height: 609px;
  padding: 40px;

  transform: translate(-50%, -50%);
  background-color: #ffffff;
  @include mq(desk) {
    width: 528px;
    height: 580px;
  }
}

.modal-title {
  @include text(false, 20px, 1.15, 0.03em, center, false);
  display: block;
  margin-bottom: 12px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition);
  &:focus-within {
    border-color: var(--accent-color);
    outline: none;
    fill: var(--accent-color);
  }
}

.modal-form-label {
  @include text(false, 12px, 1.16, 0.01em, false, false);
  margin-bottom: 4px;
  display: block;

  color: var(--main-text-color);
}

.modal-form-field {
  margin-bottom: 10px;
  &:nth-child(6) {
    margin-bottom: 30px;
  }
}

.input-wrap {
  display: block;
  position: relative;
  transition: fill var(--transition);
  &:focus-within {
    border-color: var(--accent-color);
    outline: none;
    fill: var(--accent-color);
  }
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  &:focus-within {
    border-color: var(--accent-color);
    outline: none;
    fill: var(--accent-color);
  }
  &::placeholder {
    font-size: 12px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-policy {
  @include text(false, 14px, 1.71, 0.03em, false, false);

  color: #757575;
}

.input-policy {
  text-decoration-line: underline;
  color: #2196f3;
}
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;

  outline: none;
  background-color: unset;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--transition);
  &:focus,
  :hover {
    fill: var(--accent-color);
  }
}

.modal-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
