html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-title-color);
  background-color: var(--main-title-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
